.cart-card {
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 15rem;
}

.info-product {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-product .name {
  font-size: 1.5rem;
  word-wrap: normal;
  font-weight: 600;
}

.info-product .price {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(73, 72, 72);
}

.info-product .brand {
  font-size: 1.3rem;
  font-weight: 500;
}

.info-product .gender {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(80, 79, 79);
}

.info-product .size {
  font-size: 1.2rem;
  font-weight: 300;
}

.cart-card button {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;

  border: 0px;
  font-size: 1.5rem;
}

.cart-card .primary {
  background-color: yellowgreen;
  color: black;
}

.cart-card .secondary {
  border: 2px solid yellowgreen;
  color: yellowgreen;
}

.cartOperations {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  gap: 0.5rem;
}

.smallBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
}

.cart-card .qnty {
  width: 40px;
  height: 30px;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
