.cartPage {
  display: flex;
  flex-wrap: wrap;
}

.cart-grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 50%;
  margin: 4rem 1rem;
}

.priceDetails {
  width: 300px;
  padding: 1rem;
  display: flex;
  border: 1px solid;
  height: fit-content;
  margin-top: 4rem;
  margin-left: auto;
  flex-direction: column;
  margin-right: 3rem;
  font-size: 1.2rem;
  gap: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 1.2rem;
}
